.apptitle {
font-weight: bolder;
}
.panel {
  background-color: white;
  padding: 15px;
  margin-bottom: 5px;
}
h3 {
  margin-bottom: 5px;
}
.chart {
  padding: 0px;
  height: 300px;
  width: 100%;
}

.rightalign {
  text-align: right
}